{{!-- Listado no dinámico (se necesita recargar) de los productos almacenados en la BD --}}

{{#if products.isValid}}
    <div class="productsContainer">
        {{#each products.docs}}
            <div class="productCard">
                <p>
                    {{this.title}}
                </p>
                <p>
                    {{this.description}}
                </p>
                <p>
                    $ {{this.price}}
                </p>
            </div>
        {{/each}}
    </div>

    <div class="navLinksContainer">
        {{#if products.hasPrevPage}}
            <a href={{products.prevLink}} class="navLink"><< Anterior</a>
        {{/if}}
    
        &nbsp;
            {{products.page}}
        &nbsp;

        {{#if products.hasNextPage}}
            <a href={{products.nextLink}} class="navLink">Siguiente >></a>
        {{/if}}
    </div>
{{else}}
    <div>
        No se encontraron productos con los filtros solicitados
    </div>
{{/if}}